@model ForexAggregator.Web.Models.Provider
@{
    ViewData["Title"] = "ProviderDetails";
    decimal rate = Model.Exchange.FirstOrDefault(x => x.SourceCurrency.Equals(Model.SourceCurrency) && x.TargetCurrency.Equals(Model.TargetCurrency)).ExchangeRate;
    decimal convertedAmount = decimal.Parse(Model.Amount) * rate;
}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <h2>Provider Details</h2>
            <hr />
            <form class="form-horizontal" method="post" asp-action="Login">
                <div class="form-group">
                    <div class="">
                        <label for="source">Provider Name:</label>
                        <strong>@Model.ProviderName</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label for="source">Location:</label>
                        <strong>@Model.Location.Address @Model.Location.CityName</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label for="source">Amount To Pay In @Model.SourceCurrency:</label>
                        <strong>@Model.Amount</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 ">
                        <label for="source">Converted Amount In @Model.TargetCurrency:</label>
                        <strong>@convertedAmount</strong>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>